/.vscode
/about - Copy.html
/about.html
/assignment.html
/contact.css
/contact.html
/css
/home.html
/index.css
/index.js
/index1.css
/index1.html
/index1.js
/index2.html
/index2.js
/learn.js
/media
/news.html
/sport.html
/sport1.html
/table.html