/*===========================ACHIEVEMENTS============================*/
.about-achievements{
    margin-top: 3rem;
}

.about-achievements-container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 5rem;

}

.about-achievement-right > p{
    margin: 1.6rem 0 2.5rem;

}

.achievement-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.achievement-card{
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
}

.achievement-card:hover{
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.achievement-icon{
    background-color: var(--color-danger);
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.achievement-card:nth-child(2) .achievement-icon{
    background: var(--color-success);
}

.achievement-card:nth-child(3) .achievement-icon{
    background: var(--color-primary);
}

.achievement-card p{
    margin-top: 1rem;
}


/*===========================TEAMS============================*/
.team{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.team-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.team-member{
    background: var(--color-bg2);
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}




.team-member:hover{
    background: transparent;
    border-color: var(--color-primary);

}

.team-member .team-member-image img{
    filter: saturate(0);  /*will make it black and white*/
    height: 140px;
    width: 170px;
}

.team-member .team-member-image img:hover{
    filter: saturate(1); /*will remove it from black and whit upn hover*/
}

.team-member-info{
    text-align: center;
    margin-top: 1.4rem;
}

.team-member-info p{
    color: var(--color-light);
    margin-top: 1rem;
}

.team-member-socials{
    position: absolute; /*the parent which is team-member should have position relative*/
    top:20% ;
    transform: translate(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}

.team-member-socials a{
    padding: 0.61rem;
}

.team-member:hover .team-member-socials{
    right: -25px;
}


/*===========================MEDIA QUERIES FOR TABLET==========*/
@media screen and (max-width: 1024px) {
   
    .container{
       
        width: var(--container-width-md);
    }

    
    .about-achievements{
        margin-top: 2rem;
    }

    .about-achievements-container{
        grid-template-columns: 1fr;
        
    }

    .about-achievement-left{
        width: 80%;
        margin: 0 auto;
    }

    .team-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .team-member{
        padding-left: 1.4rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
     

    }
}


/*===========================MEDIA QUERIES FOR MOBILE PHONE==========*/
@media screen and (max-width: 600px){
    .achievement-cards{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team-container{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .team-member{
        padding:0;
    }

    .team-member p{
        margin-bottom: 1.5rem;
    }

    .team-member .team-member-image img{
        padding-left: 0.5rem;
    }
}